<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="fragments/layout :: layout(~{::body}, 'vets')">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic - Vets Index</title>
</head>
<body>
<h2 th:text="'Pet Clinic - List of Vets'">Vets list</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.id}">0</td>
        <td th:text="${vet?.firstName}">Barack</td>
        <td th:text="${vet?.lastName}">Obama</td>
    </tr>
    </tbody>
</table>
</body>
</html>